
.demo{
    border: 1px solid red;
}
span{
    border: 1px solid green;
    width: 5em;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    text-align: justify;
    overflow: hidden;
}

span::after{
    content: '';
    display: inline-block;
    width: 100%;
    border: 1px solid red;
}